@model IEnumerable< CourseVM>
@{
    ViewData["Title"] = "Course";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}


@foreach (var item in Model)
{

    @if(!item.IsDelete){
        <div class="row m-3">

            <div class="col-sm-12 ">

                <div class="row Ads" style="opacity: .8;  background-attachment: fixed;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url('/Files/Courses/@item.Image');">
                    <div class="cover">
                        @if (item.Lessons.Count() == 0)
                        {
                            <a class="play"><img src="~/Course/Images/play-button-icon-png-16.png"></a>

                        }
                        else
                        {
                            <a class="play" asp-action="MyCourse" asp-controller="CourseView" asp-route-id="@item.ID"><img src="~/Course/Images/play-button-icon-png-16.png"></a>

                        }
                    </div>
                    <div class="col-sm-6 image">
                    </div>
                    <div class="col-sm-6 conntent Ads">

                        <br>
                        <h1 class="mt-3">@item.NameCourse</h1>
                        <h4 class="fw-bold"> By : @item.TrainerCourses.FullName</h4>
                        <br>
                        <h4>@item.Catogery.CategoryName</h4>
                        <br>
                        <div class="progress-bg">
                            @{
                                decimal calc = Math.Truncate(((decimal)(item.Lessons.Where(a => a.CourseID == item.ID).Count()) / (item.Hours)) * 100m);
                            }
                            <div class="progress-bar" style="width:@(calc <25 ? "25" : $"{calc}")%">
                                <h5 class="raised">Lesson </h5>
                            </div>

                            <h4 class="goal">

                                @calc %
                            </h4>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>

            </div>


        </div>
        <br>
    }
   
}
@section CSS{
    <style>
        .dropdown-content {
            display: none
        }
    </style>
}
