@model IEnumerable<CityVM>
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

@section CSS{
    <partial name="~/views/person/Partial/css.cshtml" />
}
    <a class="btn1 third col-sm-3  me-2 js-friends" data-url="/City/Create" href="javascript:;"> &nbsp; &nbsp; &nbsp;<i class="uil uil-create-dashboard "></i> &nbsp; Create</a>
    <br />
    <br />
    <table id="example" class="table" style="width:100%;color:darkgrey">
        <thead>
            <tr>
                
                <th>Name</th>


                <th>Governorate</th>



                <th>Cities</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Governorate.Name</td>
                <td>@item.Districts.Count</td>




              
                  

                <td>
                    <div class="dropdown">
                        <p class="btn dropbtn btn-outline-info" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </p>

                        <div class="dropdown-menu dropdown-content  align-items-center " aria-labelledby="dropdownMenuLink">
                            <a class="js-friends dropdown-item" href="javascript:;" data-url="/City/Edit/@item.ID" data-update="true">Edite</a>



                            <a class="js-friends dropdown-item" href="javascript:;" data-url="/District/Create/@item.ID" data-update="true">Add Lesson</a>



                          

                        </div>
                    </div>
                </td>
            </tr>
        }


    </tbody>

</table>
@section DatatablesJS{
    <partial name="~/views/person/Partial/script.cshtml" />

}
    <partial name="~/views/post/Model.cshtml">
        @section JS{
        <partial name="~/views/post/scripts.cshtml">


            <script src="~/dashboard/lib/bootbox.js/bootbox.min.js"></script>

        }
