@model GroupVM

<div class="card shadow-sm">

    <div class="card-header">
        <h3 class="card-title">Delete Group</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-md-7">
                <a>@TempData["error"]</a>
                <div asp-validation-summary="All"></div>
                <form method="post" asp-controller="Group" enctype="multipart/form-data">

                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" disabled  placeholder="Name" asp-for="Name" />
                            <label asp-for="Name"></label>
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                   
                    
                        <center>
                            <button type="submit" class="btn btn-danger" >
                                <i class="uil uil-exclamation-octagon"></i>  Delete
                            </button>

                           
                        </center>
                   

                </form>
            </div>
        </div>
    </div>
</div>

@section CSS{
    <partial name="~/views/person/Partial/css.cshtml" />

}
    @section JqueryValidation{
    <partial name="~/views/person/Partial/Script.cshtml" />
}
