<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Hero</title>
    <link href="~/Dashboard/Images/Flash.svg" rel="icon">
    <style>
        body {
            background-color: rgb(97, 92, 92);
            width: 100vw;
            height: 100vh;
            color: white;
            font-family: "Arial Black";
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .error-num {
            font-size: 8em;
        }

        .eye {
            background: #fff;
            border-radius: 50%;
            display: inline-block;
            height: 100px;
            position: relative;
            width: 100px;
        }

            .eye::after {
                background: #1EB2A6;
                border-radius: 50%;
                bottom: 56.1px;
                content: "";
                height: 33px;
                position: absolute;
                right: 33px;
                width: 33px;
            }

        p {
            margin-bottom: 4em;
        }

      
    </style>
</head>
<body>
    <div>
        <span class='error-num'>ER</span>
        <div class='eye'></div>
        <div class='eye'></div>
        <span class='error-num'>RR </span>
        <p class='sub-text'> Something went wrong. We're <i>looking</i> to see what happened.</p>
       
    </div>
    
    <script src="~/datatable/lib/jquery/dist/jquery.js"></script>
    <script>

        $('body').mousemove(function (event) {
            var e = $('.eye');
            var x = (e.offset().left) + (e.width() / 3);
            var y = (e.offset().top) + (e.height() / 2);
            var rad = Math.atan2(event.pageX - x, event.pageY - y);
            var rot = (rad * (180 / Math.PI) * -1) + 270;
            e.css({
                '-webkit-transform': 'rotate(' + rot + 'deg)',
                'transform': 'rotate(' + rot + 'deg)'
            });
        });

    </script>
    </body>
   
    </html>
