
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h1>ConfirmEmail</h1>

<div class="mt-4">
    <center>
Thanks For confrim Email you can login Now
    </center>


</div>
