@model PersonVM
@{
    ViewData["Title"] = "Trainer";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}


<div class="card shadow-sm ">

    <div class="card-header">
        <h3 class="card-title"> Add Trainer </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <a>@TempData["error"]</a>
                <div asp-validation-summary="All"></div>
                <form method="post" asp-controller="Trainer" asp-action="CreateTrainer" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4 ">
                        </div>
                        <div class="col-md-4 ">
                            <div class="image-input image-input-empty mb-10" data-kt-image-input="true" style="background-image:url(/files/imgs/men.jpg);margin:auto">
                                <div class="image-input-wrapper w-250px h-250px"></div>
                                <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                       data-kt-image-input-action="change"
                                       data-bs-dismiss="click">
                                    <i class="uil uil-pen"></i>

                                    <input type="file" asp-for="ImageName" accept=".png, .jpg, .jpeg" />
                                    <input type="hidden" asp-for="ImageName"  />

                                </label>

                                <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                      data-kt-image-input-action="cancel"
                                      data-bs-dismiss="click">
                                    <i class="uil uil-times-circle"></i>
                                </span>

                                <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                      data-kt-image-input-action="remove"
                                      data-bs-dismiss="click">
                                    <i class="bi bi-x fs-2"></i>
                                </span>

                            </div>
                            <span asp-validation-for="Image" class="text-danger d-block"></span>
                        </div>
                        <div class="col-md-4 ">
                        </div>
                    </div>
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="Name" asp-for="FullName" />
                            <label>Full Name</label>
                        </div>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>



                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="Email" asp-for="Email" />
                            <label>Email</label>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                 
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="UserName" asp-for="UserName" />
                            <label>User Name</label>
                        </div>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" placeholder="passward" asp-for="PasswordHash" />
                            <label>Passward</label>
                        </div>
                        <span asp-validation-for="PasswordHash" class="text-danger"></span>
                    </div>
                  

                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" placeholder="Graduation" asp-for="trainer.Graduation" />
                            <label>Trainer Graduation</label>
                        </div>
                        <span asp-validation-for="trainer.Graduation" class="text-danger"></span>
                    </div>

                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <input type="file" class="form-control" placeholder="Cv_Name" asp-for="trainer.Cv_Name" />
                            <label>CV</label>
                        </div>
                        <span asp-validation-for="trainer.Cv_Name" class="text-danger"></span>
                    </div>
                   

                    <div class="mb-5">
                        <div class="form-floating mb-2">
                            <select asp-for="gender" class="form-select" aria-label="Default select example">
                                <option>Gender</option>
                                <option value="0">Male</option>
                                <option value="1">Female</option>

                            </select>
                        </div>

                    </div>
                   
                    <select class="form-select" aria-label="Default select example" asp-for="districtID" asp-items="(SelectList)ViewBag.districtList">
                    </select>


                    <span asp-validation-for="districtID" class="text-danger"></span>
                    <br />
                   
                        <center>
                            <button type="submit" class="btn btn-primary">
                                <i class="uil uil-check"></i>Save
                            </button>

                            <a asp-action="GetAll" asp-controller="Person" class="btn btn-danger">return</a>
                        </center>
                   


                </form>
            </div>
        </div>
    </div>
</div>

@section CSS{
    <partial name="~/views/person/Partial/css.cshtml" />
    <link href="~/dashboard/lib/style.bundle.css" rel="stylesheet" />
}
    @section JqueryValidation{
    <partial name="~/views/person/Partial/Script.cshtml" />
    <script src="~/dashboard/lib/plugins.bundle.js"></script>
    <script src="~/dashboard/lib/sweetalert2/scripts.bundle.js"></script>
}
