<div class="modal fade" id="ClinicModel" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style=" background-image: linear-gradient(270deg, #f5f5f527 0%, #2bc4b7 75%);">
                <h5 id="ModalLabel" class="modal-title" style=" color:var(--six); font-weight: bold;" ></h5>
                <button style="border-raduis:none" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
            </div>

          
        </div>
    </div>
</div>