<div class="Chat">
    <div class="content">
        <img src="~/secondpage/vendor/Image/Messaging-amico.svg" alt="About" class="book">
    </div>
    <div class="content">
        <!-- <i class="fa fa-envelope-open" aria-hidden="true"></i>
        <i class="fa fa-user-md" aria-hidden="true"></i>
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
        <h1><span>Chatt</span>ing</h1>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i>@SharedLocalizer["The Chatting interface is the interface"]</p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i>@SharedLocalizer["in most cases the patient’s family"] </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> @SharedLocalizer["This page is divided into two parts, the group"] </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i>  @SharedLocalizer["Which the doctor responds to the patient’s message"] </p>

    </div>

</div>