<div class="regist">
    <h2><span>Regis</span>ter</h2>
</div>

<div class="FavDoctor">
    <div class="blog-slider">

        <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                    <img src="~/secondpage/vendor/Image/DoctorsLogin.svg" alt="">
                </div>
                <div class="blog-slider__content">

                    <div class="blog-slider__title"><span>Doc</span>tor</div>
                    <div class="blog-slider__text">
                        If you are a doctor, you should press this button
                    </div>
                    <a  asp-action="Registration" asp-controller="Doctor" class="blog-slider__button">Register</a>
                </div>
            </div>

            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                    <img src="~/secondpage/vendor/Image/Coding workshop-pana.svg" alt="">
                </div>
                <div class="blog-slider__content">

                    <div class="blog-slider__title"><span>Trai</span>ner</div>
                    <div class="blog-slider__text">
                        If you are a Trainer, you should press this button
                    </div>
                    <a asp-action="Registration" asp-controller="Trainer" class="blog-slider__button">Register</a>
                </div>
            </div>
            <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                    <img src="~/secondpage/vendor/Image/Money income-rafiki.svg" alt="">
                </div>
                <div class="blog-slider__content">

                    <div class="blog-slider__title"><span>Don</span>er</div>
                    <div class="blog-slider__text">
                        If you are a Doner, you should press this button
                    </div>
                    <a asp-action="Registration" asp-controller="Donner" class="blog-slider__button">Register</a>
                </div>
            </div>
        </div>
        <div class="blog-slider__pagination"></div>
    </div>

</div>