@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h1>GetAll</h1>

@section CSS{
    <partial name="~/views/person/Partial/css.cshtml" />
}
    <a  asp-action="Create" asp-controller="Roles" class="btn1 third col-sm-3  me-2 "> &nbsp; &nbsp; &nbsp;<i class="uil uil-create-dashboard "></i> &nbsp; Create</a>
    
    <br />
    <br />
    <table id="example" class="table" style="width:100%;color:darkgrey">
        <thead>
            <tr>

                <th>Name</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Name</td>               
                <td>
                    <div class="dropdown">
                        <p class="btn dropbtn btn-outline-info" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </p>

                        <div class="dropdown-menu dropdown-content  align-items-center " aria-labelledby="dropdownMenuLink">
                           
                            <a style="text-align: center" class="dropdown-item  ancor btn btn-primary" asp-action="Update" asp-controller="Roles" asp-route-id="@item.Id">

                                Details
                            </a>
                            <a style="text-align: center" class="dropdown-item" asp-action="Delete" asp-controller="Roles" asp-route-id="@item.Id">

                                Delete
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }


    </tbody>

</table>
@section DatatablesJS{
    <partial name="~/views/person/Partial/script.cshtml" />

}