@model IEnumerable<LessonVM>
@using Microsoft.AspNetCore.Identity;
@using SuperHero.BL.Seeds;
@inject SignInManager<Person> signInManager
@{
    ViewData["Title"] = "GetALL";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}
@{
    var userinfo = await signInManager.UserManager.FindByNameAsync(User.Identity.Name);

}
@section CSS{
    <partial name="~/views/person/Partial/css.cshtml" />
}
      <br />
    <br />
    <table id="example" class="table" style="width:100%;color:darkgrey">
        <thead>
            <tr>
                <th> - </th>
                <th>Name</th>

                
                <th>Images</th>

                

                <th>Action</th>


            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Num</td>
                <td>@item.Name</td>

                

               

                <td>
                    @if (item.Course.Image == null)
                    {


                        <div class="Image" style="background-image:url('/files/Courses/no-book.jpg') ; width:90px ; height:90px ;background-size:cover; background-position:center; background-repeat:no-repeat ;">
                        </div>

                    }
                    else
                    {
                        <div class="Image" style="background-image:url('/files/Courses/@item.Course.Image') ; width:90px ; height:90px ;background-size:cover; background-position:center; background-repeat:no-repeat ;">
                        </div>

                    }
                    
                </td>




                <td>
                    @if (item.Course.PersonId == userinfo.Id || await signInManager.UserManager.IsInRoleAsync(userinfo, AppRoles.Admin))
                    {
                        <div class="dropdown">
                            <p class="btn1 dropbtn btn-outline-info" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Action
                        </p>

                            <div class="dropdown-menu dropdown-content  align-items-center " aria-labelledby="dropdownMenuLink">
                                <a class="js-friends dropdown-item" href="javascript:;" data-url="/Lesson/Edite/@item.ID" data-update="true">Edite</a>
                            <a class="js-friends dropdown-item" href="javascript:;" data-url="/Lesson/Delete/@item.ID" data-update="true">Delete</a>



                        </div>
                    </div>}
                </td>
            </tr>
        }


    </tbody>

</table>
@section DatatablesJS{
    <partial name="~/views/person/Partial/script.cshtml" />

}
    <partial name="~/views/post/Model.cshtml">
        @section JS{
        <partial name="~/views/post/scripts.cshtml">

          
            <script src="~/dashboard/lib/bootbox.js/bootbox.min.js"></script>

        }
