@*@model List<PersonVM>*@
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Person> signInManager
@{
    dynamic userinfo = null;
    if( signInManager.IsSignedIn(User))
    {
         userinfo = await signInManager.UserManager.FindByNameAsync(User.Identity.Name);
    }
   
}
<div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>
@*
    <div style="display:block" class="search-box">
        <i class="uil uil-search"></i>
        <input type="text" placeholder="Search here..." />
    </div>*@

    
       
       
          
   
<div class="dropdown">
     
        <div @*class="dropdown show"*@>
            <a class="dropbtn" onclick="myFunction()" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       @if (signInManager.IsSignedIn(User))
        {
             
           
            @if (@userinfo.Image == null)
            {
                if (@userinfo.gender == 0)
                {
                  <img src="/files/imgs/men.jpg" alt="" />
                }
                else
                {

                   <img src="/files/imgs/young-woman-avatar-cartoon-character-profile-picture-young-woman-wearing-blue-t-shirt-avatar-cartoon-character-vector-149732076.jpg" alt="" />
                }
            }
            else
            {

                        <img src="/files/imgs/@userinfo.Image" style="width:60px;height:60px" alt="" />
            }
        }
            </a>

        <div id="myDropdown" class="dropdown-content">
                <a class="dropdown-item ancor" href="#">
                    <i class="uil uil-user"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="uil uil-edit"></i>
                    Edit
                </a> 
                @if( signInManager.IsSignedIn(User))
                {
                <a class="dropdown-item"  asp-controller="Account" asp-action="LogOff" asp-route-id="@userinfo.Id">
                    <i class="uil uil-signout"></i>Logout
                </a>
               
                }
            </div>
        </div>
    </div>
       
    </div>
</div>
