@*@model List<PersonVM>*@
@using Microsoft.AspNetCore.Identity;
@using SuperHero.BL.Seeds;
@inject SignInManager<Person> signInManager

@{
    var userinfo = await signInManager.UserManager.FindByNameAsync(User.Identity.Name);
    
}

<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="~/dashboard/images/flash.svg" />
        </div>

        <span class="logo_name">Super Heroes</span>

        @if (signInManager.IsSignedIn(User))
        {


            <a asp-action="Profile" asp-controller="Profile" asp-route-id="@userinfo.Id">
                @if (@userinfo.Image == null)
                {
                    if (@userinfo.gender == 0)
                    {
                        <div class="Image" style="background-image:url('/files/imgs/men.jpg') ; ">
                        </div>

                    }
                    else
                    {
                        <div class="Image" style="background-image:url('/files/imgs/young-woman-avatar-cartoon-character-profile-picture-young-woman-wearing-blue-t-shirt-avatar-cartoon-character-vector-149732076.jpg') ">
                        </div>

                    }
                }
                else
                {
                    <div class="Image" style="background-image:url('/files/imgs/@userinfo.Image') ">
                    </div>
                }


            </a>
            <div class=" c ">
                <span class="font-weight-bold">@userinfo.FullName</span>
            </div>

        }

    </div>

    <div style="margin-top:20px" class="menu-items">
        <ul class="nav-links" style="padding-left:0px">
            @if (userinfo.PersonType == SuperHero.DAL.Enum.PersonType.Doctor)
            {

                <li>
                    <a active-when="DoctorHome" asp-action="AllRecorder" asp-controller="DoctorHome">
                        <i class="uil uil-user-circle"></i>
                        <span class="link-name">Check</span>
                    </a>

                </li>
            }
            @if (await signInManager.UserManager.IsInRoleAsync(userinfo, AppRoles.Admin))
            {
                <li>

                    <a active-when="Person" asp-action="GetAll" asp-controller="Person">
                        <i class="uil uil-user-circle"></i>
                        <span class="link-name">Person</span>
                    </a>

                </li>
            }
           
            @if (userinfo.PersonType == SuperHero.DAL.Enum.PersonType.Trainer || await signInManager.UserManager.IsInRoleAsync(userinfo, AppRoles.Admin))
            {
               
                <div style="width:100%" class="dropdown">

                <li>
                    <a class="dropbtn"  asp-action="GetAll" asp-controller="Categories">
                        <i class="fa-solid fa-bars"></i>
                        <span class="link-name"> Category</span>
                    </a>
                </li>

                    <div style="text-align:center" class="dropdown-menu dropdown-content  align-items-center " aria-labelledby="dropdownMenuLink">
                        <a active-when="Categories" class="dropdown-item" asp-action="GetAll" asp-controller="Categories"><i class="uil uil-servers"></i>Category</a>                        

                      <a active-when="Course" class="dropdown-item" asp-action="GetAll" asp-controller="Course"><i class="uil uil-presentation-edit"></i>Course</a>
                        <a active-when="Lesson" class="dropdown-item" asp-action="GetAll" asp-controller="Lesson"><i class="uil uil-layer-group"></i>Lesson</a>

                    </div>
                </div>
              

              
            }
            <li>
                <a active-when="Post" asp-action="GetAll" asp-controller="Post">
                    <i class="uil uil-search"></i>
                    <span class="link-name">Post</span>
                </a>
            </li>
            @if (userinfo.PersonType == SuperHero.DAL.Enum.PersonType.Doctor || await signInManager.UserManager.IsInRoleAsync(userinfo, AppRoles.Admin))
            {

                <li>
                    <a active-when="Group" asp-action="GetAll" asp-controller="Group">
                    <i class="uil uil-users-alt"></i>
                    <span class="link-name">Group</span>
                </a>
            </li>
            }

           
            @* <li>
            <a href="#">
            <i class="uil uil-thumbs-up icon"></i>
            <span class="link-name">Like</span>
            </a>
            </li>*@
            <li>
                <a asp-action="Course" asp-controller="CourseView">
                    <i class="uil uil-comments icon"></i>
                    <span class="link-name">Course</span>
                </a>
            </li>
           @if (await signInManager.UserManager.IsInRoleAsync(userinfo, AppRoles.Admin))
            {
                <li>
                    <a asp-action="GetAll" asp-controller="City">
                    <i class="uil uil-globe"></i>
                    <span class="link-name">Address</span>
                </a>
            </li>
   
                <li>

                    <a active-when="Person" asp-action="GetAll" asp-controller="Person">
                        <i class="uil uil-user-circle"></i>
                        <span class="link-name">Person</span>
                    </a>

                </li>
                <li>
                    <a asp-action="GetAll" asp-controller="Roles">
                        <i class="uil uil-chart icon"></i>
                        <span class="link-name">Roles</span>
                    </a>
                </li>
            }

            <li>
                <a active-when="SocialPatient" style=" text-decoration: none;" asp-action="GetAll" asp-controller="SocialPatient">
                    <i class="uil uil-user-arrows"></i>
                    <span class="link-name">Social</span>
                    </a>

            </li>
            <li>
                <a a style=" text-decoration: none;" asp-action="Problem" asp-controller="Problem">
                    <i class="fa-solid fa-eye"></i>
                    <span class="link-name">Problem</span>
                </a>

            </li>
        </ul>

        <ul class="logout-mode" style="padding-left:0px">
            <li>

            <li class="mode">
            </li>

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>