@*
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/PatientLayout/_Layout.cshtml";
}

<div>
    <h1>Search</h1>
    <form id="searchForm">
        <input type="text" id="query" name="query" />
        <button type="submit">Search</button>
    </form>
    <div id="searchResults"></div>
</div>
@section JS{
    
    <partial name="~/views/post/scripts.cshtml">


}*@