<div class="content">
    <div class="left">
        <h1><span>Super H</span>eros</h1>

        <p>@SharedLocalizer["AimoftheWeb"]</p>
        <div id="btn_play">
            <a style=" text-decoration:none;" href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
        </div>
        <div class="btn" id="btn_play">
            <a asp-action="Index" asp-controller="BestDoctor" style=" text-decoration:none;"> @SharedLocalizer["Discover"]</a>
        </div>
    </div>
    <div class="right">
        <div class="box">
            <img class="book" alt="world down" src="~/firstpage/image/world down syndrome day-amico.svg" />
        </div>
    </div>
</div>