<div style="z-index:44585858568"class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div style="width:800px;background:transparent" class="modal-content">
            <div class="modal-header" style="border-bottom:none">
                <p class="modal-title" style="color:white" id="ModalLabel">
                    @* Modal Title will be rendered here *@
                </p>
                <button type="button" style="background-color:white" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* Modal Body will be rendered here *@
            </div>
        </div>
    </div>
</div>