@model PatientInfo
@{
    int x = 1;
}
@foreach (var item in Model.RadiologyVMs)
{



    @if (item.IsAdd == true)
    {

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">

                @x - @item.Name

                @{
                    x++;
                }
            </div>

            @if (item.XRay != null)
            {
                <div class="col-sm-4">  <a style="color:var(--six); font-weight: bold;background-image: linear-gradient(90deg, #f5f5f527 0%, #2bc4b7 75%);width:100%;width:60px ;padding: 10px;border: none; border-radius: 4px;" href="~/Files/PDF/@item.XRay" download="download"><i class="fa-solid fa-download fa-bounce"></i></a></div>

            }
        </div>

        <div id="Create" class="row">
            @if (item.XRay == null)
            {
                @if (Model.User.PersonType == SuperHero.DAL.Enum.PersonType.User)
                {
                @if (Model.patient.ID == item.personID)
                {

                    <form asp-action="Edit" asp-controller="Radiology" enctype="multipart/form-data">

                        <div class="col-sm-12">
                            <div class='file file--uploading'>
                                <label asp-for="uploade" class="label" for='input-file'>
                                    <i class="fa-solid fa-x-ray fa-bounce"></i>
                                    Upload Radiology

                                </label>
                                <input id='input-file' asp-for="uploade" type='file' />
                            </div>
                            <span class="text-danger" asp-validation-for="uploade"></span>
                        </div>


                        <input type="hidden" value="@item.ID" asp-for="ID" />
                        <button style="color:var(--six); font-weight: bold;background-image: linear-gradient(90deg, #f5f5f527 0%, #2bc4b7 75%);width:100%;width:60px ;padding: 10px;border: none; border-radius: 4px;" type="submit"><i class="fa-solid fa-upload"></i></button>

                    </form>

                }
                }
            }
        </div>
        <br />
        <hr />
    }


}
<div class="row">
    @if (Model.User.PersonType == SuperHero.DAL.Enum.PersonType.User)
    {
        @if (Model.patient.ID == Model.User.patient.ID)
        {
            <form style="background:#c8d6d6" asp-action="CreateBYUser" asp-controller="Radiology" enctype="multipart/form-data">
                <div class="row">
                <div class="col-sm-12">
                    <div class='file file--uploading'>
                        <label class="label" for='input-file'>
                            <i class="fa-solid fa-x-ray fa-bounce"></i>
                            Upload Radiology

                        </label>
                        <input id='input-file' asp-for="uploade" type='file' />
                    </div>
                    <span class="text-danger" asp-validation-for="uploade"></span>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="inputWithIcon">

                        <input type="text" asp-for="Name" placeholder="Analysis">
                        <span asp-validation-for="Name"></span>
                        <i aria-hidden="true" class="fa-solid fa-capsules"></i>
                    </div>
                </div>
            </div>
            <button style="color:var(--six); font-weight: bold;margin-left:200px;background-image: linear-gradient(90deg, #f5f5f527 0%, #2bc4b7 75%);width:100%;width:60px ;padding: 10px;border: none; border-radius: 4px;" type="submit"><i class="fa-solid fa-upload"></i></button>

        </form>
    }}
</div>

@section JqueryValidation{
    <partial name="~/views/person/Partial/Script.cshtml" />
        }





