<div class="modal  fade" style="z-index:28282837777474774;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background-color:#c8d6d6">
            <div class="modal-header" style="border-bottom:none">
                <h1 class="modal-title fs-5" style="color:white" id="ModalLabel">
                    @* Modal Title will be rendered here *@
                </h1>
                <button type="button" class="btn-close button3" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                @* Modal Body will be rendered here *@
            </div>

        </div>
    </div>
</div>